<!-- Create Album
    1. name - connect to album id
    2. owner/ user
    3. date created
    4. add photos
-->
<a href='/'>Home</a>
<head>
    <title>Create an Album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an Album for Photoshare</h1>
        </div>
        <div id="content">
            <form method="post" action="/album">
                <label for="album_name">Please Name Album:</label>
                <input type="text" name="album_name" required='true' /><br />

               
<h2>Here are your albums</h2>
    <ul>
    {% for album in albums %}

        <li>{{ album }} 
        </li>
    {% endfor %}
    </ul>

               
                
                <input type="submit" value="Create" />
            </form>
        </div>
    </body>


<div id="content">
    <h3>Delete an Album </h3>
    <form method="post" action="/album">
        <label for="album_delete">Please Write Name of Album to be Deleted:</label>
        <input type="text" name="album_delete" /><br />
        <input type="submit" value="Delete" />
    </form>
</div>


    <a href='/'>Home</a>