<!--
    Display Photo
    1. show # likes
    2. like button (adds +1 to DB)
    3. Show list (BUTTON) users liked
    4. add comment text box (get user_id, if anonymous then leave NULL)
    5. Show comments list (BUTTON) (with comment show username, if user = anonymous then display “anonymous”)
-->
<a href='/'>Home</a>
<head>
    <title>Here is the Photo</title>
</head>

        <div class="title">
            <h1>Add A Comment</h1>
        </div>


    <ul>
        {% for photo in photo_info %}
        
        <div id="content">
           
            <form method="POST" action="/displayphoto/{{ photo[1] }}">
                <label for="comment">Type Comment Here: {{ photo[1] }} </label>
                <input type="text" name="comment" /><br />
                <input type="submit" name="submit_button" value="Create" />
            </form>
        </div>


        
        <h2>This is the Photo: </h2>  
       <h3>Caption: {{photo[2]}}</h3>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        
        <!-- ADD LIKE FUNCTIONALITY -->

        <div class="title">
            <h1>Add A Like</h1>
        </div>
       

        <div id="content">
            <form method="post" action="/displayphoto/{{ photo[1]}}"> 
            <input type="submit" name = "submit_button" value="Like" />
            </form>
        </div> 
        {% endfor %}
    </ul>

       

               
<h2>Here are current comments</h2>
    <ul>
    {% for comment in comments %}

        <li>Comment:  {{ comment[1] }} <br>
            <body> From User: {{ comment[0] }}</body>
        </li>
   
    </ul>
    {% endfor %}

<h4> The Number of likes is: {{ num_likes }}</h4>
<h5> These users liked the photo: </h5>
<ul>
    {% for user in user_like_list %}

        <li>User:  {{ user }} <br>
        </li>
        {% endfor %}
    </ul>
    

 

    <a href='/'>Home</a>