<!-- author ben lawson balawson@bu.edu -->
<a href='/'>Home</a>
<head>
    <title>Search for image</title>
</head>
    <body>
        <div class="title">
            <h1>Search for photo</h1>
        </div>
        <div id="content">
            <form method="post" action="/imgsearch">
                <label for="search_here">Search Here:*</label>
                <input type="text" id = "search_here" name="search_here" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<a href='/'>Home</a>